body {
  margin: 0;
  background-image: url("cloud-sky.jpg");
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  background: rgba(74, 129, 52, 0.6);
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  width: 40rem;
}

.holder {
}

.entry {
  background: rgba(0, 0, 0, 0.5);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  font-size: 4rem;
  text-align: center;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  text-align: center;
  margin: 0 auto;
}

button {
  width: 100%;
  height: 75px;
  background: #202022;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
}

textarea {
  background: rgba(0, 0, 0, 0.5);
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
